body{
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10.42%;
}

/* ===== Header ===== */
.site-header {
    background: #F5F3EF;
}
.site-header__inner {
    height: 84px;
    display: flex;
    align-items: center;
}
.site-logo {
    display: flex;
    align-items: center;
    margin-right: 5.42%;
}

.site-nav { display: flex; align-items: center; }
.site-nav a { white-space: nowrap; color: #292929; text-decoration: none; font-size: 14px;
font-family: "Inter", sans-serif; font-weight: 400; letter-spacing: 0.28px; }
.site-nav--main {
    gap: 44px;
}
.site-nav--user {
    gap: 58px;
    margin-left: 18.47%;
}

.site-nav--user > a > span{
    display: flex;
    gap: 5px;
}

/** FOOTER **/

footer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    height: 61px;
}

footer a{
    text-decoration: none;
    color: #292929;
}

.footer-logo{
    padding-right: 23px;
}

/* HERO */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 108px;
    padding-top: 80px;
    padding-bottom: 128px;
    background-color: #F5F3EF;
}

.hero__content{
    width: 33%;
}

.hero__content h1{
    font-size: 36px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.hero__content p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-bottom: 62px;
}

.btn--primary{
    width: 152px;
    height: 63px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #00AC66;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

figure{
    margin: 0;
}

figcaption{
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #A6A6A6;
    font-style: italic;
}

/* Derniers Livres Ajoutés */

.latest-books{
    padding-top: 80px;
    padding-bottom: 64px;
    background-color: #FAF9F7;
}

.container > h2{
    font-size: 32px;
    font-family: "Playfair Display", serif;
    text-align: center;
    font-weight: 400;
}

.book-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    padding-top: 80px;
}

.book-grid > a{
    text-decoration: none;
}

.book-card__infos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    padding-left: 14px;
    height: 124px;
}

.book-card__title{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.book-card__author{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #A6A6A6;
    margin: 0;
}

.book-card__seller{
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #A6A6A6;
    margin: 0;
}

.latest-books__cta{
    display: flex;
    justify-content: center;
}

.latest-books__cta > a{
    width: 218px;
    height: 63px;
    margin-top: 48px;
}

/* Comment ça marche */

.how-it-works{
    background-color: #F5F3EF;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.intro h2{
    font-size: 32px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.how-it-works__intro{
    width: 37%;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}

.steps-grid{
    display: flex;
    gap: 36px;
    padding-top: 40px;
}

.step-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 215px;
    height: 139px;
    align-items: center;
}

.step-card > p{
    width: 180px;
    height: 51px;
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.how-it-works__cta{
    padding-top: 48px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.how-it-works__cta > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 63px;
    border: 1px solid #00AC66;
    background-color: #F5F3EF;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #00AC66;
}

.values{
    background-color: #F5F3EF;
    padding-top: 80px;
    padding-bottom: 89px;
}

.values > .container > h2{
    width: 78%;
}

.values-banner > img{
    width: 100%;
}

.values__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.values__text > p{
    width: 39%;
}

.values-media{
    display: flex;
    justify-content: end;
    width: 73%;
}

.values__signature{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #A6A6A6;
}

/* LOGIN */
.auth-page{
    display: flex;
}

.auth-page__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.auth-page__form > h1{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 36px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
}

.auth-page__form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-page__form > form > .field{
    display: flex; 
    flex-direction: column;
}

.field > input{
    width: 322px;
    height: 50px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
}

.field > label{
    padding-top: 32px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #A6A6A6;
}

.field > input:focus{
    outline: none;
}

.auth-page__form > form > .btn--primary{
    margin-top: 32px;
    width: 322px;
    height: 63px;
}

.auth-page__switch{
    display: flex;
    justify-content: center;
    width: 78%;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 40px;
}

.auth-page__switch > a{
    padding-left: 5px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: #292929;
}

/* NOS LIVRES A L'ECHANGE */
.page-books{
    background-color: #FAF9F7;
    padding-top: 130px;
    padding-bottom: 80px;
}

.page-books__header{
    padding: 0 4.42%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-books__header > h1{
    font-size: 36px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.btn-search{
    width: 322px;
    height: 50px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    background-image: url('../images/btn-search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px 16px;
    padding-left: 42px;
}

.btn-search:focus{
    outline: none;
}